{% extends "base.html" %}

{% block body_attrs %}
style="background-color: #3c70ae;"
{% endblock %}

{% block content %}

<div class="login-container">
    <div class="login-card">
        <h2>Welcome</h2>
        <form method="post" class="login-form">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="error-message">
                {% for error in form.non_field_errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        
        {{ form.username.label_tag }}<br>
        {{ form.username }}<br><br>

        {{ form.password.label_tag }}<br>
        {{ form.password }}<br><br>

        <a href="{% url 'password_reset' %}" class="forgot-password">Forgot Password?</a><br><br>

        <button type="submit" class="btn-login">Login</button>
        </form>
    </div>
</div>
{% endblock %}