{% extends "base.html" %}

{% block body_attrs %}
style="background-color: #3c70ae;"
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-card">
    <h2>Password Reset Email Sent</h2>
    <p>We've emailed you instructions for resetting your password.</p>
    <p>If you don’t receive an email, please check your spam folder or contact support.</p>
    <a href="{% url 'login' %}" class="btn btn-primary" style="margin-top: 20px;">Return to Login</a>
  </div>
</div>
{% endblock %}
