{% extends "base.html" %}

{% block body_attrs %}
style="background-color: #3c70ae;"
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-card" style="text-align: left !important; width: 600px !important;">
        <h2>Set a New Password</h2>

        {% if validlink %}
            <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Reset Password</button>
            </form>
        {% else %}
            <p>The password reset link is invalid, possibly because it has already been used. Please request a new password reset.</p>
            <a href="{% url 'password_reset' %}" class="btn btn-secondary">Try Again</a>
        {% endif %}
    </div>
</div>
{% endblock %}