{% extends "base.html" %}

{% block body_attrs %}
style="background-color: #3c70ae;"
{% endblock %}


{% block content %}
<div class="login-container">
    <div class="login-card">
        <h2>Reset your password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.email.label_tag }}
            {{ form.email }}
            <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Send reset link</button>
        </form>
    </div>
</div>
{% endblock %}