{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <style>
        html[data-theme="light"], :root {
            --primary: #316da2;
            --secondary: #316da2;
            --link-fg: #316da2;
            --link-selected-fg: #316da2;
            --accent: white;
            --selected-row: #dbeeff;
            --header-color: #ffffff;
            --breadcrumbs-bg: #25527a;

        }
        /* Admin panel */
        #content-related {
            border-radius: 10px;
        }

        .module caption, .inline-group h2 {
            border-top-left-radius: 10px !important;
            border-top-right-radius: 10px !important;
            font-weight: 700 !important;
        }

        #site-name a {
            font-weight: 900;
        }

        .toggle-nav-sidebar {
            border-right: 0px solid var(--hairline-color);
        }

        #nav-sidebar {
            border-right: 0px solid var(--hairline-color);
        }

        #nav-filter {
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 5px;
        }

        #changelist-filter h2 {
            border-top-left-radius: 10px !important;
            border-top-right-radius: 10px !important;
        }

        #toolbar {
            padding: 8px 10px;
            margin-bottom: 15px;
            border-top: 0px solid var(--hairline-color) !important;
            border-bottom: 0px solid var(--hairline-color) !important;
            border-radius: 10px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'review/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
{% endblock %}

{% block title %}SDM review - administration{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">SDM review - administration</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}