{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <h2>🎉 Thank you for your evaluations!</h2>

    {% if species_list %}
        <p>Do you wish to evaluate more species in the group(s) <strong>{{ group_names }}</strong>?</p>
        <ul>
            {% for species in species_list %}
                <li>
                    <i>{{ species.name }}</i>
                    <a href="{% url 'evaluate_species' species.key %}">Evaluate</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No more species available for evaluation. <a href="{% url 'dashboard' %}">Go to dashboard</a></p>
    {% endif %}
  </div>  
{% endblock %}